doctype html
html( lang="pl" itemscope itemtype="http://schema.org/WebPage")

  include _head.pug

  body

    block content


    block script
      <!-- bower:js -->
      <!-- endbower -->
      script(src='scripts/vendor.min.js')
