extends _layout.pug

block content

  .flipbook-viewport
    .container
      .flipbook
        .hard(style="background-image:url('https://thumbs.dreamstime.com/x/vintage-book-cover-blank-6311480.jpg')")
          .book__title JavaScript - podstawy
            span bardzo długi przykładowy podtytuł
        .hard(style="background-image:url('http://www.georgesbasement.com/Langford-WilmingtonCoalFlora/Webpage/GL00iiDedicationCB.jpg')")
        div(style="background-image:url('https://s-media-cache-ak0.pinimg.com/736x/13/45/7f/13457f563f80229731c73c89e45a8206.jpg')")
        div(style="background-image:url('https://s-media-cache-ak0.pinimg.com/736x/13/45/7f/13457f563f80229731c73c89e45a8206.jpg')")
        div(style="background-image:url('https://s-media-cache-ak0.pinimg.com/736x/13/45/7f/13457f563f80229731c73c89e45a8206.jpg')")
        div(style="background-image:url('https://s-media-cache-ak0.pinimg.com/736x/13/45/7f/13457f563f80229731c73c89e45a8206.jpg')")
        .hard(style="background-image:url('https://s-media-cache-ak0.pinimg.com/736x/13/45/7f/13457f563f80229731c73c89e45a8206.jpg')")
        .hard(style="background-image:url('http://meriannboxall.com/wp-content/uploads/2015/01/BackCover.png')")
