extends _layout.pug

block content


  .carCounter
    .carCounter__heading Press W or ↑
    .carCounter__content
      .carCounter__cols.-rpm
        .carCounter__circles
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__cover
          .carCounter__tipCircle
            .carCounter__tip
          .carCounter__info x1000
          .carCounter__oil.-icon
          .carCounter__airbag.-icon

      .carCounter__cols.-speed
        .carCounter__circles
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__cover
          .carCounter__tipCircle
            .carCounter__tip
          .carCounter__info km/h
          .carCounter__mark turbo S
          .carCounter__engine.-icon
          .carCounter__battery.-icon
          .carCounter__km
            span 1
            span 4
            span 6
            span 2
            span 2
            span 9
            span 3


      .carCounter__cols
        .carCounter__circles
          .carCounter__fuel Fuel:&nbsp;&nbsp;  199
            span km
          .carCounter__mainInfo Trip
          .carCounter__carInfo Road time: 2:12 h
          .carCounter__carInfo Distance: 175 km
          .carCounter__carInfo Consumpt: 9.3 l/100km
          .carCounter__carInfo.-last Speed: 43 km/h

          .carCounter__time 13:25
          .carCounter__weather 9.5 °C
