extends _layout.pug

block content


  .carCounter
    .carCounter__content
      .carCounter__cols.-rpm
        .carCounter__circles
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__cover
          .carCounter__tipCircle
            .carCounter__tip
          .carCounter__info x1000
          .carCounter__lights
            <i class="fa fa-bars" aria-hidden="true"></i>
            |D

      .carCounter__cols.-speed
        .carCounter__circles
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__scale
          .carCounter__cover
          .carCounter__tipCircle
            .carCounter__tip
          .carCounter__info km/h
          .carCounter__mark turbo S
