extends _layout.pug

block content

  #primary.content-area.container
    .col-12
      section#nav_menu-3.widget.widget_nav_menu.menu-realizacje(style="padding:50px 0 100px 0")
       #menu-location-.menu-realizacje-container
        ul#menu-realizacje.menu
          li.menu-item.menu-item-type-taxonomy.menu-item-object-realizacje1
            span.-active(data-tag="wszystkie") Wszystkie
          li.menu-item.menu-item-type-taxonomy.menu-item-object-realizacje1
            span(data-tag="sport") Sport
          li.menu-item.menu-item-type-taxonomy.menu-item-object-realizacje1
            span(data-tag="elektronika") Elektronika
          li.menu-item.menu-item-type-taxonomy.menu-item-object-realizacje1
            span(data-tag="budownictwo") Budownictwo


    #main.site-main.col-12
      .content-relaisations.clearfix
        .row
          .realisations-box.col-4(data-articletags=" elektronika")
            a(href="#")
              .realisation-gallery-image
                img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Arduino_ftdi_chip-1.jpg/350px-Arduino_ftdi_chip-1.jpg")
                .img-overlay
              .realisation-gallery-content
                h4 Tesco
                span.btn zobacz projekt

          .realisations-box.col-4(data-articletags=" sport")
            a(href="#")
              .realisation-gallery-image
                img(src="http://www.uksport.gov.uk/~/media/images/sports/athletics/jess_ennis_listing.jpg?bc=White&h=220&la=en&w=220&crop=1&cropx=50&cropy=50")
                .img-overlay
              .realisation-gallery-content
                h4 Tesco
                span.btn zobacz projekt

          .realisations-box.col-4(data-articletags=" elektronika")
            a(href="#")
              .realisation-gallery-image
                img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Arduino_ftdi_chip-1.jpg/350px-Arduino_ftdi_chip-1.jpg")
                .img-overlay
              .realisation-gallery-content
                h4 Tesco
                span.btn zobacz projekt

          .realisations-box.col-4(data-articletags=" sport")
            a(href="#")
              .realisation-gallery-image
                img(src="http://www.uksport.gov.uk/~/media/images/sports/athletics/jess_ennis_listing.jpg?bc=White&h=220&la=en&w=220&crop=1&cropx=50&cropy=50")
                .img-overlay
              .realisation-gallery-content
                h4 Tesco
                span.btn zobacz projekt

          .realisations-box.col-4(data-articletags=" budownictwo")
            a(href="#")
              .realisation-gallery-image
                img(src="http://www.wam.piib.org.pl/wp-content/uploads/2015/12/budownictwo.jpg")
                .img-overlay
              .realisation-gallery-content
                h4 Tesco
                span.btn zobacz projekt

          .realisations-box.col-4(data-articletags=" budownictwo")
            a(href="#")
              .realisation-gallery-image
                img(src="http://www.wam.piib.org.pl/wp-content/uploads/2015/12/budownictwo.jpg")
                .img-overlay
              .realisation-gallery-content
                h4 Tesco
                span.btn zobacz projekt

          .realisations-box.col-4(data-articletags=" elektronika")
            a(href="#")
              .realisation-gallery-image
                img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Arduino_ftdi_chip-1.jpg/350px-Arduino_ftdi_chip-1.jpg")
                .img-overlay
              .realisation-gallery-content
                h4 Tesco
                span.btn zobacz projekt

          .realisations-box.col-4(data-articletags=" sport")
            a(href="#")
              .realisation-gallery-image
                img(src="http://www.uksport.gov.uk/~/media/images/sports/athletics/jess_ennis_listing.jpg?bc=White&h=220&la=en&w=220&crop=1&cropx=50&cropy=50")
                .img-overlay
              .realisation-gallery-content
                h4 Tesco
                span.btn zobacz projekt

          .realisations-box.col-4(data-articletags=" elektronika")
            a(href="#")
              .realisation-gallery-image
                img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Arduino_ftdi_chip-1.jpg/350px-Arduino_ftdi_chip-1.jpg")
                .img-overlay
              .realisation-gallery-content
                h4 Tesco
                span.btn zobacz projekt

          .realisations-box.col-4(data-articletags=" sport")
            a(href="#")
              .realisation-gallery-image
                img(src="http://www.uksport.gov.uk/~/media/images/sports/athletics/jess_ennis_listing.jpg?bc=White&h=220&la=en&w=220&crop=1&cropx=50&cropy=50")
                .img-overlay
              .realisation-gallery-content
                h4 Tesco
                span.btn zobacz projekt

          .realisations-box.col-4(data-articletags=" budownictwo")
            a(href="#")
              .realisation-gallery-image
                img(src="http://www.wam.piib.org.pl/wp-content/uploads/2015/12/budownictwo.jpg")
                .img-overlay
              .realisation-gallery-content
                h4 Tesco
                span.btn zobacz projekt

          .realisations-box.col-4(data-articletags=" budownictwo")
            a(href="#")
              .realisation-gallery-image
                img(src="http://www.wam.piib.org.pl/wp-content/uploads/2015/12/budownictwo.jpg")
                .img-overlay
              .realisation-gallery-content
                h4 Tesco
                span.btn zobacz projekt