extends _layout.pug

block content

    .game
        .game__enemy
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare
            .game__enemySquare

        .game__yourShip
        .game__ammo

